.header{
    background-color: brown;
}
.arc{
    background-color: aquamarine;
}
.footer{
    background-color: darkolivegreen;
}
label{
    display: block;
    margin-bottom: 5px;
}
table{
    border-collapse: collapse;
    border: 5px solid yellow;
}
th,td{
    border: 2px solid red;
    padding: 5px 15px;
}